%nav.chat-nav
  .chat-nav__header
    .chat-nav__header__user= current_user.name
    .chat-nav__header__icon
      = link_to edit_user_path(current_user), class: "chat-nav__header__icon__user-update" do
        %i.fas.fa-cog
      = link_to new_group_path(current_user), class: "chat-nav__header__icon__group-addition" do
        %i.fas.fa-edit
  %ul.chat-nav__group
    = render partial: "partial/group_list"

.chat
  .chat__header
    .chat__header__group-info
      .chat__header__group-info__name= @group.name
      .chat__header__group-info__member= "Menbers: #{@members}"
    = link_to "Edit", edit_group_path(:group_id), class: "chat__header__group-edit-btn"
  .chat__body
    = render partial: "partial/chat_messages", collection: @messages, as: "message"
  = form_for [@group, @message], html: { id: "message-form", class: "chat__footer" } do |f|
    .chat__footer__message
      = f.text_field :body, class: "chat__footer__message__area", placeholder: "type a message"
      = f.label :image, class: "chat__footer__message__image" do
        %i.far.fa-image.fa-lg
        = f.file_field :image, class: "chat__footer__message__image__file"
    = f.submit "Send", class: "chat__footer__submit"
    %input{ type: "reset", value: "リセット", style: "display: none;" }
